@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'MuseoModerno', cursive;

}

body{
  /* background-image: linear-gradient(123deg, #60f5f5 , #c5a2b8 ,#7796be  , #bbfdfd); */
  /* background-image: linear-gradient(123deg, #62a78c , #637c7c  , #a7ffff); */
  /* background-image: linear-gradient(123deg, #2bbbd9 , #317999 , #186281 , #123458); */
  background-image: linear-gradient(123deg  , #06314f, #181d29 , #435b9e);
  background-size: 600% 600% ;
  animation: background-gradient 10s ease infinite;
  align-items: flex-end;
}
@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}



                                /* ............................whatsapp button............................. */

#whatsapp .watssap{
  position: fixed;
  transition: all .5s ease;
  background-color: #25d366;
  display: block;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border-right: none;
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
  bottom: 50px;
  right: 20px;
  border: 0;
  z-index: 99999;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

#whatsapp .watssap::before{
  content: "";
  position: absolute;
  z-index: -1 ;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  -webkit-animation:pulse 1500ms ease-out infinite;
  animation:pulse 1500ms ease-out infinite;
}

#whatsapp .watssap:focus{
  border: none;
  outline: none;
}

@keyframes pulse{
  0%{ transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
  100%{ transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5); opacity: 0;}
}




                                           /*..................... header....................... */

                                          

header{
    position:fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 15px;
    z-index: 10000;
}

header.sticky{
  padding: 5px 100px;
  background: rgba(191, 177, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 0 0 10px  10px ;

}

header .logo{
  position: relative;
  width: 110px;
  height: 105px; 
}


.hed a {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}


.nav_linkes{
    list-style: none;
}
.nav_linkes li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_linkes li a {
    transition: all 0.3s ease 0s;
}

.nav_linkes li a:hover {
    color: #3566eb;
}

  .bcta {
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    padding: 6px 20px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow:  0.1rem 0.95rem 1.9rem  rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

  .bcta:hover {
      background-color: #333;
      transition: all 0.3s ease 0s;

  }

                                               /*......................... Programs   ................. */
  .home{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home .hcontent img{
    height: auto;
    width: 500px;
    max-width: 100%;
  }

  .htext{
    width: 700px;
    max-width: 100%;
    padding: 0 10px;

    }
  .hcontent{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    
  }
  .htext h1{
    color: #ffffff;
    font-size: 75px;
    margin-bottom: 5px;
    text-transform:capitalize;
  }
  .htext h6{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  
  .htext p{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 40PX;
    font-family: 'Signika', sans-serif;
    }

    .b_link{
      color: #0b5731;
      font-size: 18px;
      transition: all 0.3s ease 0s;
      text-decoration: none;
  }

    .b_link:hover {
      color: #333;
      transition: all 0.3s ease 0s;

  }

    .Programs{
      width: 100%;
      height: 120vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Programs .scontent img{
      height: auto;
      width: 400px;
      max-width: 100%;
    }
  
    .stext{
      width: 700px;
      max-width: 100%;
      padding: 0 10px;
  
      }
    .scontent{
      width: 1280px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around;
      
    }
    .stext h1{
      color: #fff;
      font-size: 75px;
      margin-bottom: 5px;
      text-transform:capitalize;
    }
    .stext h4{
      color: #FFF;
      font-size: 20px;
      text-transform: capitalize;
      letter-spacing: 2px;
    }
    
    .stext p{
      color: #fff;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 40PX;
      font-family: 'Signika', sans-serif;
      }
  
  

                         /*.......................... sec main........................... */

.main{

    position: relative;
    width: 100%;
    height: 220vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2.8;
  }


  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card-two, .card-three, .card-four, .card-five, .card-six, .card-family{
    margin: 0 5rem 8rem 0;
    padding: 0 0 0.5rem 0 ;
    width: 20rem;
    background: white;
    color: #444;
    text-align: center;
    border-radius: 2rem;
    box-shadow:  0.95rem 0.5rem 5rem rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: all 0.1ms ease-in-out;
  }
  
  .card-two:hover, .card-three:hover, .card-four:hover, .card-five:hover, .card-six:hover, .card-family:hover{
    transform: scale(1.02);
  }
  
  .card-header{
    height: 7rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.90rem;
    padding: 1rem 0;
    color: white;
    clip-path: polygon(0 0 , 100% 0%, 100% 85%, 0% 100%);
  }
  
  .header-two, .btn-two{
    background: linear-gradient(135deg, cyan, #06c766);
  }
  
  .header-three, .btn-three{
    background: linear-gradient(135deg, #b202c9, #cf087c);
  }
  
  .header-four, .btn-four{
    background: linear-gradient(135deg, #eea300, #ee5700);
  }
  
  .header-five, .btn-five{
    background: linear-gradient(135deg, rgb(53, 64, 64), rgb(53, 74, 74));
  }
  
  .header-six, .btn-six{
    background: linear-gradient(135deg, #32cdcd, #2c9ac8);
  }
  
  .header-family, .btn-family{
    background: linear-gradient(135deg, #5ce850, #80ce59);
  }
  
  .card-body{
    padding: 1rem 0;
    
  
  }
  
  .card-body h2{
    font-size: 2rem;
    font-weight: bold;
  }
  
  .card-element-container{
    color: #444;
    list-style: none;
  
  }
  
  .btn-two , .btn-three , .btn-four , .btn-five , .btn-six , .btn-family {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.1ms ease-in-out;
  }
  
.btn-two:hover , .btn-three:hover , .btn-four:hover , .btn-five:hover , .btn-six:hover , .btn-family:hover {
    transform: scale(0.95);
  }
  
  .btn-two:active , .btn-three:active , .btn-four:active , .btn-five:active , .btn-six:active , .btn-family:active {
    transform: scale(1);
  }
  
  .card-element-hidden{
    display: nones;
  }

                              /*...................... sec main II ........................*/

.mainII{
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
}


.mainII .sec
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

}

.mainII .sec.sec1
{
    /* background: #b0ff54; */
  background-image: linear-gradient(123deg, #60f5f5 , #c5a2b8 ,#7796be  , #bbfdfd);
   clip-path: circle(100px at 0 0);
  animation: about-bk 10s ease infinite;

}


.mainII .sec.sec2
{
    /* background: #03a9f4; */
  background-image: linear-gradient(123deg, #60f5f5 , #c5a2b8 ,#7796be  , #bbfdfd);
  clip-path: circle(100px at 100% 100%);
}

.mainII h2
{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
     text-align: center;
     color: #fff;
     font-size: 8em;
    }

.mainII .sec.sec1 h2{
    color: transparent;
    -webkit-text-stroke: 5px #333;

}
.mainII .sec.sec2 h2{
    color: #333;
    -webkit-text-stroke: 5px #FFF;

}

  footer{
    position: relative;
    width: 100%;
    background-color: rgb(111, 101, 184 );
    height: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
  }
  
  footer .social_icon ,footer .menu_f{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  footer .social_icon li ,footer .menu_f li {
    list-style: none;
  }

  footer .social_icon li a  {
    font-size: 30px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  
  footer .social_icon li a:hover{
   transform: translateY(-10px) ;
  }

  footer .menu_f li a {
    font-size: 18px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
  }

  footer .menu_f li a:hover {
    opacity: 1;
  }

  footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px ;
  } 

  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom:0;
    animation: animatWave 4s linear infinite;
  }

  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatWave_02 4s linear infinite;
  }


  footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatWave 3s linear infinite;
  }

  footer .wave#wave4{
    z-index: 1000;
    opacity: 0.7;
    bottom: 20px;;
    animation: animatWave_02 3s linear infinite;
  }


  @keyframes animatWave{

    0%{
      background-position-x: 1000px ;
    } 
    100%{
      background-position-x: 0px ;
    }
  }

  @keyframes animatWave_02{

    0%{
      background-position-x: 0px ;
    } 
    100%{
      background-position-x: 1000px ;
    }
  }





@media (max-width: 1160px){
  .Programs .scontent img{
    height: auto;
    width: 300px;
    max-width: 100%;
  }

  .stext{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;

    }


    .scontent{
      width: 1280px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around;
      
    }
    .stext h1{
      color: #fff;
      font-size: 55px;
      margin-bottom: 10px;
      text-transform:capitalize;
    }
    .stext h4{
      color: #FFF;
      font-size: 20px;
      text-transform: capitalize;
      letter-spacing: 2px;
    }
    .stext p{
      color: #fff;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 45PX;
      font-family: 'Signika', sans-serif;
      }
}

@media (max-width: 950px ){
  .Programs .scontent img{
    height: auto;
    width: 250px;
    max-width: 100%;
  }

  .stext{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;

    }


    .scontent{
      width: 950px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around;
      
    }
    .stext h1{
      color: #fff;
      font-size: 45px;
      margin-bottom: 10px;
      text-transform:capitalize;
    }
    .stext h4{
      color: #FFF;
      font-size: 18px;
      text-transform: capitalize;
      letter-spacing: 2px;
    }
    .stext p{
      color: #fff;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 45PX;
      font-family: 'Signika', sans-serif;
      }
}


@media (max-width: 895px ){
  .Programs .scontent img{
    height: auto;
    width: 250px;
    max-width: 100%;
  }

  .stext{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;

    }


    .scontent{
      width: 950px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around;
      
    }
    .stext h1{
      color: #fff;
      font-size: 45px;
      margin-bottom: 10px;
      text-transform:capitalize;
    }
    .stext h5{
      color: #FFF;
      font-size: 18px;
      text-transform: capitalize;
      letter-spacing: 2px;
    }
    .stext p{
      color: #fff;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 45PX;
      font-family: 'Signika', sans-serif;
      }
}
